# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/
bower_components/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Build output directories
dist/
build/

# Mac OS specific files
.DS_Store

# Windows specific files
Thumbs.db
