body {
  font-family: Arial, sans-serif;
  background-color: #3a166a;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading {
  text-align: center;
  color: #f6ac62;
  font-family: 'Londrina Outline', cursive;
  font-size: 5rem;
  padding: 8px 16px;
  text-shadow: #000000 3px 4px 10px;
}
.contain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.toggle-container {
  border: 2px solid black;
  border-radius: 10px;
  height: auto;
  width: 30%;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 2px 10px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 122px;
}

.toggle-heading {
  font-family: 'Londrina Outline', cursive;
  font-weight: bolder;
  color: #4caf50;
  margin-bottom: 10px;
}

.toggle-paragraph {
  line-height: 1.5;
  color: #555;
  font-family: 'Londrina Outline', cursive;
}
