body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #6b46c1, #9f7aea, #f687b3);
  margin: 0;
  padding: 20px;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading {
  text-align: center;
  color: #f6ac62;
  font-family: 'Londrina Outline', cursive;
  font-size: 5rem;
  padding: 8px 16px;
  text-shadow: #000000 3px 4px 10px;
}
.contain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  gap:20px;
}

.toggle-container {
  border: 2px solid black;
  border-radius: 10px;
  height: auto;
  width: 90%;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 2px 10px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 122px;

}

.toggle-heading {
  font-family: 'Londrina Outline', cursive;
  font-weight: bolder;
  color: #4caf50;
  margin-bottom: 10px;
}

.toggle-paragraph {
  line-height: 1.5;
  color: #555;
  font-family: 'Londrina Outline', cursive;
}
@media (max-width: 1024px) {
  .contain {
      flex-direction: column; 
      height: auto; 
  }

  body {
      padding: 10px; 
  }
}

@media (max-width: 768px) {
  .contain {
      justify-content: center; 
      padding: 5px; 
  }

  body {
      font-size: 0.9rem; 
  }
}
@media (max-width: 480px) {
  .contain {
      padding: 0; 
      height: auto; 
  }

  body {
      padding: 5px;
      font-size: 0.8rem; 
  }
}


@media (orientation: portrait) and (max-width: 768px) {
  body {
      justify-content: center; 
  }
}