@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(136, 0, 255);
  background: linear-gradient(
    0deg,
    rgba(136, 0, 255, 1) 24%,
    rgba(65, 45, 253, 1) 48%,
    rgba(29, 29, 29, 1) 100%
  );
}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 170px;
}

.subtitle {
  text-align: center;
  color: #f6ac62;
  font-family: 'Londrina Outline', cursive;
  font-size: 5rem;
  padding: 8px 16px;
  text-shadow: 0 3px 10px rgba(10, 10, 10, 40);
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #000;
}

.js-name-input,
.js-date-input,
.js-time-input,
.js-category-input,
.js-priority-input,
.js-add-button,
.js-cancel-button {
  font-size: 15px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.js-date-input:hover,
.js-time-input:hover {
  cursor: pointer;
  font-weight: bold;
}

.js-add-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  row-gap: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.js-actions-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  grid-row: auto;
  grid-column: auto;
}

.js-add-button,
.js-cancel-button {
  background-color: green;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.js-add-button:hover {
  background-color: darkgreen;
}

.js-cancel-button {
  background-color: #ff0000;
}

.js-cancel-button:hover {
  background-color: #8b0000;
}

.js-add-html {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  height: 25px;
}

.small-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  min-height: 45px;
  max-height: 90px;
  height: auto;
  box-sizing: border-box;
}

.task-info {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.task-name {
  font-weight: bold;
  overflow: auto;
  max-height: 40px;
}

.category-tag,
.priority-tag {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}

.category-tag {
  background-color: #e0e0e0;
  color: #333;
}

.priority-high {
  background-color: #ffcccb;
  color: #d8000c;
}

.priority-medium {
  background-color: #feefb3;
  color: #9f6000;
}

.priority-low {
  background-color: #d4edda;
  color: #155724;
}

.js-delete-button,
.js-edit-button {
  border: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  width: 100%;
  justify-content: center;
  height: 46px;
}

.js-delete-button {
  background-color: red;
  color: white;
}

.js-delete-button:hover {
  background-color: darkred;
}

.js-edit-button {
  background-color: skyblue;
  color: white;
}

.js-edit-button:hover {
  background-color: deepskyblue;
}

.js-add-button img,
.js-delete-button img,
.js-edit-button img {
  margin-right: 5px;
}

/* Footer Styling */
footer {
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
}

footer p {
  margin-top: 10px;
  font-size: 12px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media a {
  margin: 1px 11px;
  color: black;
  font-size: 15px;
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.social-media a:hover {
  transform: scale(1.05);
  transition: all 0.25s ease-out;
  border: none;
}

.social-media .insta:hover {
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  color: white;
}

.social-media .facebook:hover {
  background-color: #1877f2;
  color: white;
}

.social-media .x:hover {
  background-color: #000000;
  color: white;
}

.social-media .linkedin:hover {
  background-color: #0a66c2;
  color: white;
}

.social-media .github:hover {
  background-color: white;
}

.social-media .youtube:hover {
  background-color: white;
  color: #ff0000;
}

/*
Animating title
*/

.subtitle {
  text-align: center;
  color: #f6ac62;
  font-family: 'Open sans', sans-serif;
  font-family: cursive;
  font-size: 5rem;
  padding: 8px 16px;
  text-shadow: #000000 3px 4px 10px;
}

.sort-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sort-filter-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.sort-button,
.js-filter-input {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sort-button:hover,
.js-filter-input:hover {
  background-color: #45a049;
}

.js-filter-input {
  font-size: 15px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
}

.completed {
  background-color: #e0e0e0;
  text-decoration: line-through;
}

.js-add-html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 30vh;
}

.js-add-html::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.js-add-html::-webkit-scrollbar-thumb {
  background-color: rgb(136, 132, 132);
  border-radius: 7px;
}

.js-add-html::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 5px;
}
#js-success-notification {
  position: absolute;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: #46a34a;
  width: 15%;
  min-width: 200px;
  height: 7%;
  left: 2%;
  bottom: 10%;
  color: #d4edda;
}
.js-add-html-tasks {
  border: 1px black solid;
  height: fit-content;
  max-height: 35vh;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Londrina+Outline&display=swap');

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

@media (max-width: 947px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  .subtitle {
    font-size: 3rem;
  }

  .js-add-grid,
  .js-add-html {
    grid-template-columns: 1fr;
  }

  .js-add-button {
    width: 100%;
    padding: 10px;
  }

  .task-info {
    flex-direction: column;
  }

  .footer {
    font-size: 0.8rem;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .subtitle {
    font-size: 2rem;
  }

  .js-add-grid,
  .js-add-html {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 1.5rem;
  }

  .task-info {
    flex-direction: column;
    gap: 5px;
  }

  .footer p {
    font-size: 10px;
  }
}
